{% extends 'base/base.html' %}
{% block content %}
{% load static %}
{% load multiply %}
{% load humanize %}
	<div>
	<!-- content of the page-->
	<!--Script menu -->
	<script>
	setTimeout(function(){menu("#home")},500);
	</script>
	<script type="text/javascript">
	function changeModels(){
		var maker = $( "#make option:selected" ).val();
		$.ajax({
    url:'/model',
    type:'GET',
    data: 'maker=' + maker,
    dataType: 'json',
    success: function( json ) {
			$('#model').empty();
			$('#model').append($('<option>').text("Select model").attr('value', -1));
        $.each(json, function(id, value) {
            $('#model').append($('<option>').text(value).attr('value', id));
        });
    }
		});
	}
	function like(id){
		url = "/like?id=" + id
		var xmlHttp = new XMLHttpRequest();
		xmlHttp.onreadystatechange = function(){
			if (this.readyState == 4 && this.status == 201){
				alert("Liked!");
			}
		};
    xmlHttp.open("GET", url, true);
    xmlHttp.send(null);
	}
	</script>

	<script>
	  function submitBodySearch(value) {
	     document.getElementById('body').value = value;
	     document.getElementById("body_forms").submit();
	   }
		 function submitMakeSearch(value) {
 	     document.getElementById('nmake').value = value;
 	     document.getElementById("maker_forms").submit();
 	   }
	</script>

<br><br><br><br><br><br><br>
	<section class="bottom-box row">
		<a href="/car_reviews" class="col-sm-6 col-md-3 bottom-box__box">
			<img src="/static/images/Car_Review_Blog.jpg" alt="">
			<h3>Comentarios de carros</h3>
		</a>
		<a href="/find_local_dealer" class="col-sm-6 col-md-3 bottom-box__box">
			<img src="/static/images/Find_local_dealer.jpg" alt="">
			<h3>Buscar distribuidor</h3>
		</a>
		<a href="/sell" class="col-sm-6 col-md-3 bottom-box__box">
			<img src="/static/images/sell.jpg" alt="">
			<h3>Vender tu carro</h3>
		</a>
		<a href="/buying_guide" class="col-sm-6 col-md-3 bottom-box__box">
			<img src="/static/images/tips.jpg" alt="">
			<h3>Guia de compras</h3>
		</a>
	</section>
<!-- --------------------------------------------search by------------------------------------ -->
	<section class="search_by">
		<h2 class="text-center title">Busqueda avanzada de veiculos</h2>
		</ul>
		<div class="body">
			<div class="tag1 view">
				<form class="" action="/search" id="body_forms" method="post">
				<div class="images row">
				 {% csrf_token %}
				 	<input type="hidden" name="type" value="simple">
				  	<input type='hidden' id= 'body' name='body' value='' />
					{% for obj in  body_styles %}
					<div class="col col-lg-2 col-sm-4 ">
						<a onclick="submitBodySearch({{obj.id}});"><label class="checkbox" ><img src="{{obj.image.url}}" alt="">{{obj.description}}</label></a>
					</div>
					{% if forloop.counter == 6 %}
					</div>
					<div id="morecars" class="collapse images">
					{% endif %}
					{% endfor %}
				</div>
				<span class="btn btn-link show-all" data-toggle="collapse" onclick="show_all()" data-target="#morecars"><hr><p id="text-show-all">Desplegar <i class="fa fa-chevron-down" aria-hidden="true"></i></p><hr></span>
			</form>
			</div>
			 <div class="tag2 no-view">
				<div class="cont-list row">
					<form class="" action="/search" id="maker_forms" method="post">
						{% csrf_token %}
	 				 	<input type="hidden" name="type" value="simple">
	 				  <input type='hidden' id='nmake' name='make' value='' />
								{% for obj in  makers%}
									{% if forloop.counter0 == 0 %}
										<div class="list col-xs-6 col-sm-3">
										<ul>
									{% elif forloop.counter0|divisibleby:3 and forloop.counter0 != 0 %}
										</ul>
										</div>
										<div class="list col-xs-6 col-sm-3">
										<ul>
									{% endif %}
									<li><a onclick="submitMakeSearch({{obj.id}});">{{ obj.description }}</a></li>
								{% endfor %}
							</ul>
							</div>
						</form>
				</div>
			</div>

		</div>
	</section>

{% endblock%}
