{% extends 'base/base34.html' %}
{% block content %}
{% load static %}
<script>
  setTimeout(function(){menu("#become_a_dealer")},500);
</script>






<div class="page-header-area-2 gray">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="small-breadcrumb">
                     <div class="breadcrumb-link">
                        <ul>
                           <li><a href="/">inicio</a></li>
                           <li><a class="active" href="#">planes</a></li>
                        </ul>
                     </div>
                     <div class="header-page">
                        <h1>Planes y Servicios de Don Carros</h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- =-=-=-=-=-=-= Breadcrumb End =-=-=-=-=-=-= --> 
      <!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
      <div class="main-content-area clearfix">

      <!-- =-=-=-=-=-=-= Services Section  =-=-=-=-=-=-= -->
         <section class="padding-top-90  services-center">
            <div class="container">
               <!-- Heading Area -->
               <div class="heading-panel">
                  <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                     <!-- Main Title -->
                     <h1>Características principales del <span class="heading-color">sitio web. </span> </h1>
                     <!-- Short Description -->
                     
                  </div>
               </div>
               <div class="row clearfix">
                  <!--Left Column-->
                  <div class="col-md-4 col-sm-6 col-xs-12 pull-left">
                  <!--Service Block -->
                  <div class="services-grid">
                        <div class="icons icon-right"><i class="fa  fa-mouse-pointer fa-lg"></i></div>
                        <h4>Usted es dueño de su dominio.</h4>
                        <p>Transfiere o compra tu dominio exclusivo. Es tuyo para guardar!</p>
                     </div>
                  <!--Service Block -->
                  <div class="services-grid">
                        <div class="icons icon-right"><i class="fa fa-pie-chart fa-lg"></i></div>
                        <h4>Adaptable a tu teléfono</h4>
                        <p>Su sitio web se adaptará automáticamente a cualquier dispositivo de escritorio o móvil.</p>
                     </div>
                      <!--Service Block -->
                    <div class="services-grid">
                        <div class="icons icon-right"><i class="fa fa-share-square-o fa-lg"></i></div>
                        <h4>Ancho de banda ilimitado.</h4>
                        <p>Administre visitantes ilimitados sin preocuparse por el rendimiento de su sitio.</p>
                     </div>
                      <!--Service Block -->
                  

                  </div>
                  
                  <!--Right Column-->
                  <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                     <!--Service Block-->
                     
                       
                     <div class="services-grid">
                        <div class="icons icon-left"><i class="fa fa-life-ring fa-lg"></i></div>
                        <h4>Tecnología SEO inteligente.</h4>
                        <p>Potente tecnología para ayudar a los motores de búsqueda a encontrar su inventario y concesionario.</p>
                     </div>
                     <!--Service Block-->
                      <div class="services-grid">
                        <div class="icons icon-left"><i class="fa fa-check-circle-o fa-lg"></i></div>
                        <h4>Confiabilidad del sitio web.</h4>
                        <p>Desarrollado por un servidor dedicado y confiable para proporcionar un rendimiento del 99% de tiempo de actividad.</p>
                     </div>
                      
                       <!--Service Block-->
                      <div class="services-grid">
                        <div class="icons icon-left"><i class="fa fa-desktop fa-lg"></i></div>
                        <h4>Diseño web profesional.</h4>
                        <p>WNuestro equipo de diseñadores web profesionales siempre están trabajando para que usted pueda entregar diseños únicos.</p>
                     </div>
                  </div>
                  <!--Image Column-->
                  <div class="col-md-4 col-sm-12 col-xs-12">
                     <figure class="wow bounceInUp  animated" data-wow-delay="0ms" data-wow-duration="3500ms" >
                        <img class="center-block" src="../static/pru/images/car-mechanic.png" alt="">
                     </figure>
                  </div>
               </div>

            </div>

         </section>
         <!-- =-=-=-=-=-=-=  Services Section End =-=-=-=-=-=-= -->
         <div class="clearfix"></div>
         <!-- =-=-=-=-=-=-= Testimonials =-=-=-=-=-=-= -->         
         <section class="section-padding parallex bg-img-3">
            <div class="container">
              <div>
                  <div class=" text-center">
                     <!-- Main Title -->
                     <h1><FONT COLOR="white">Principales características del</FONT> <span class="heading-color">backend </span> </h1>
                     <!-- Short Description -->
                     
                  </div>
               <div class="row">
                  <div class="owl-testimonial-2">
                     <div class="single_testimonial">
                        <div class="textimonial-content">
                           <h4>La gestión del inventario.</h4>
                           <p>Herramientas de clasificación y publicación de gestión de inventario fáciles de usar.</p>
                        </div>
                        <div class="">
                           
                           <div class="testimonial-meta">
                              <h3 class=""></h3>
                              <p><center><i class="fa fa-car fa-5x"></i></center> </p>
                              
                           </div>
                        </div>
                     </div>
                     <div class="single_testimonial">
                        <div class="textimonial-content">
                           <h4>Inventario ilimitado.</h4>
                           <p>Si usted es un pequeño o gran distribuidor, Doncarro.com lo tiene cubierto.</p>
                        </div>
                        <div class="">
                           
                           <div class="testimonial-meta">
                              <h3 class=""></h3>
                              <p><center><i class="fa fa-car fa-3x"></i>
                    <i class="fa fa-car fa-5x"></i>
                    <i class="fa fa-car fa-3x"></i></center> </p>
                              
                           </div>
                        </div>
                     </div>
                    <div class="single_testimonial">
                        <div class="textimonial-content">
                           <h4>Carga de imágenes en bloque.</h4>
                           <p>Nuestro equipo de diseñadores web profesionales siempre están trabajando para que usted pueda entregar diseños únicos.</p>
                        </div>
                        <div class="">
                           
                           <div class="testimonial-meta">
                              <h3 class=""></h3>
                              <p><center><i class="fa fa-camera-retro fa-5x"></i></center> </p>
                              
                           </div>
                        </div>
                     </div>
                    <div class="single_testimonial">
                        <div class="textimonial-content">
                           <h4>Seguidor de ventas.</h4>
                           <p>Encuentra y rastrea fácilmente los vehículos vendidos. Busque información de unidades vendidas en su backend</p>
                        </div>
                        <div class="">
                           
                           <div class="testimonial-meta">
                              <h3 class=""></h3>
                              <p><center><i class="fa fa-line-chart fa-5x"></i></center> </p>
                              
                           </div>
                        </div>
                     </div>
                    <div class="single_testimonial">
                        <div class="textimonial-content">
                           <h4>Multi Usuarios.</h4>
                           <p>Agregar y hacer que su personal trabaje en colaboración para lograr metas de administración y ventas.</p>
                        </div>
                        <div class="">
                           
                           <div class="testimonial-meta">
                              <h3 class=""></h3>
                              <p><center><i class="fa fa-users fa-5x"></i></center> </p>
                              
                           </div>
                        </div>
                     </div>
                    <div class="single_testimonial">
                        <div class="textimonial-content">
                           <h4>Plataforma Secure Cloud.</h4>
                           <p>Asegura y respalda sus datos cada 24 horas para minimizar la pérdida de datos.</p>
                        </div>
                        <div class="">
                           
                           <div class="testimonial-meta">
                              <h3 class=""></h3>
                              <p><center><i class="fa fa-cloud fa-5x"></i></center> </p>
                              
                           </div>
                        </div>
                     </div>
                    
                  </div>
               </div>
            </div>
         </section>
           
           <section class="custom-padding gray">
            <!-- Main Container -->
            <div class="container">
              <div class="heading-panel">
                  <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                     <!-- Main Title -->
                     <h1>Plantillas de nuestro <span class="heading-color">sitio web. </span> </h1>
                     <!-- Short Description -->
                     
                  </div>
               </div>
               <!-- Row -->
               <div class="row">
                  <!-- Middle Content Box -->
                  <div class="col-md-12 col-xs-12 col-sm-12">
                     <div class="row pricing style-3">
                       
                       
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño1</h3>
                              <img src="../static/images/diseño/diseño01.png" width="400" height="250" />
                              
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño01/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño2</h3>
                             <img src="../static/images/diseño/diseño2_2.png" width="400" height="250" />
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño02/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño3</h3>
                              <img src="../static/images/diseño/diseño03.png" width="400" height="250" />
                              
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño03/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño4</h3>
                             <img src="../static/images/diseño/diseño04.png" width="400" height="250" />
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño04/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño5</h3>
                              <img src="../static/images/diseño/diseño05.png" width="400" height="250" />
                              
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño05/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño6</h3>
                             <img src="../static/images/diseño/diseño06.png" width="400" height="250" />
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño06/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño7</h3>
                              <img src="../static/images/diseño/diseño07.png" width="400" height="250" />
                              
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño07/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño8</h3>
                             <img src="../static/images/diseño/diseño08.png" width="400" height="250" />
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño08/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño9</h3>
                              <img src="../static/images/diseño/diseño09.png" width="400" height="250" />
                              
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño09/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño10</h3>
                             <img src="../static/images/diseño/diseño2_3.png" width="400" height="250" />
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño10/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño11</h3>
                              <img src="../static/images/diseño/diseño11.png" width="400" height="250" />
                              
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño11/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño12</h3>
                             <img src="../static/images/diseño/diseño12.png" width="400" height="250" />
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño12/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño13</h3>
                              <img src="../static/images/diseño/diseño13.png" width="400" height="250" />
                              
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño13/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño14</h3>
                             <img src="../static/images/diseño/diseño14.png" width="400" height="250" />
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño14/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño15</h3>
                              <img src="../static/images/diseño/diseño15.png" width="400" height="250" />
                              
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño15/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño16</h3>
                             <img src="../static/images/diseño/diseño16.png" width="400" height="250" />
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño16/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño17</h3>
                              <img src="../static/images/diseño/diseño17.png" width="400" height="250" />
                              
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño17/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño18</h3>
                             <img src="../static/images/diseño/diseño18.png" width="400" height="250" />
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño18/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño19</h3>
                              <img src="../static/images/diseño/diseño19.png" width="400" height="250" />
                              
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño19/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                       
                       
                        <div class="col-sm-6 col-lg-4 col-md-4">
                           <div class="">
                              <h3>Diseño20</h3>
                             <img src="../static/images/diseño/diseño20.png" width="400" height="250" />
                           </div>
                           <div class="selection">
                              <a href="/dealer/Diseño20/" class="btn btn-block btn-theme">Demo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                           </div>
                        </div>
                        
                       
                       
                       
                     </div>
                  </div>
               </div>
               <!-- Row End -->
            </div>
            <!-- Main Container End -->
         </section>
           
            <section class="custom-padding">
            <!-- Main Container -->
            <div class="container">
              <div class="heading-panel">
                  <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                     <!-- Main Title -->
                     <h1>Precios y paquetes</h1><br>
                    <h3>
                      ¿Necesita ayuda para seleccionar un paquete? Llámenos al (809)-772-1175 y déjenos guiarle.
                    </h3>
                     <!-- Short Description -->
                     
                  </div>
               </div>
               <!-- Row -->
               <div class="row">
                  <!-- Middle Content Box -->
                  <div class="col-md-12 col-xs-12 col-sm-12">
                     <div class="row pricing">
                        
                        <div class="col-lg-2 col-sm-6 col ">
                <div class="precio advantage">
                    <img src="../static/images/diseño/novato.png"  width="100%" height="200px" />
                </div>
                <div class="beneficios novato">
                  <h4 style="text-align: center;"><FONT COLOR="black">cantidad de vehiculos a publicar</FONT></h4>
                  <h4 style="text-align: center; background-color: #F9D976;" ><FONT COLOR="black">15 vehiculos</FONT></h4>
                  <h4 style="text-align: center;"><FONT COLOR="black">promocion super portada primer mes</FONT></h4>
                  <h4 style="text-align: center; background-color: #F9D976;"><FONT COLOR="black">GRATIS</FONT></h4>
                  <h4 style="text-align: center;"><FONT COLOR="black">precios mensuales</FONT></h4>
                  <h4 style="text-align: center; background-color: #F9D976;"><FONT COLOR="black">$RD 5,500</FONT></h4>
                    <div style="text-align: center;">
                     
                  <br>
                     
                      {% if not authenticated %}
                   <span>Para adquirir uno de nuestros planes tiene que entrar o registrarse en don carros</span>
                  {% endif %}
       
                  
                     	{% if authenticated %}
								<a href="/dashboard/pago" style="
                                                 padding:4px 25px; 
                                                 text-align:center;
 border:none; 
 -webkit-border-radius:5px;
 -moz-border-radius:5px; 
 border-radius: 5px; 
 font:16px Times New Roman; 
 color:black; 
 background:#F9D976;"><strong>Comprar</strong></a>
								{% endif %}
			
                        
                    </div>
             
                  <h4 style="text-align: center;"><FONT COLOR="black">itbis incluidos</FONT></h4>
                  
                </div>
            </div>
          
          <div class="col-lg-2 col-sm-6 col precios zoom">
            
                <div class="precio advantage">
                    <img src="../static/images/diseño/bronce.png" width="100%" height="200px" />
                </div>
                <div class="beneficios novato">
                  <h4 style="text-align: center;"><FONT COLOR="black">Cantidad de vehiculos a publicar</FONT></h4>
                  <h4 style="text-align: center; background-color: #D78631;" ><FONT COLOR="black">25 vehiculos</FONT></h4>
                  <h4 style="text-align: center;"><FONT COLOR="black">Promocion super portada primer mes</FONT></h4>
                  <h4 style="text-align: center; background-color: #D78631;"><FONT COLOR="black">GRATIS</FONT></h4>
                  <h4 style="text-align: center;"><FONT COLOR="black">precios mensuales</FONT></h4>
                  <h4 style="text-align: center; background-color: #D78631;"><FONT COLOR="black">$RD 8,000</FONT></h4>
                    <div style="text-align: center;">
                      <br>
                      
                    {% if not authenticated %}
                   <span>Para adquirir uno de nuestros planes tiene que entrar o registrarse en don carros</span>
                  {% endif %}
                  
                     	{% if authenticated %}
								<a href="/dashboard/pago" style="
                                                 padding:4px 25px; 
                                                 text-align:center;
 border:none; 
 -webkit-border-radius:5px;
 -moz-border-radius:5px; 
 border-radius: 5px; 
 font:16px Times New Roman; 
 color:white; 
 background:#D78631;"><strong>Comprar</strong></a>
								{% endif %}
			
                        
                    </div>
             
                  <h4 style="text-align: center;"><FONT COLOR="black">itbis incluidos</FONT></h4>
                  
                </div>
            </div>
      <div class="col-lg-2 col-sm-6 col precios zoom">
             
                <div class="precio advantage">
                    <img src="../static/images/diseño/plata.png" width="100%" height="200px" />
                </div>
                <div class="beneficios novato">
                  <h4 style="text-align: center;"><FONT COLOR="black">Cantidad de vehiculos a publicar</FONT></h4>
                  <h4 style="text-align: center; background-color: #BEB7B0;" ><FONT COLOR="black">40 vehiculos</FONT></h4>
                  <h4 style="text-align: center;"><FONT COLOR="black">Promocion super portada primer mes</FONT></h4>
                  <h4 style="text-align: center; background-color: #BEB7B0;"><FONT COLOR="black">GRATIS</FONT></h4>
                  <h4 style="text-align: center;"><FONT COLOR="black">precios mensuales</FONT></h4>
                      <h4 style="text-align: center; background-color: #BEB7B0;"><FONT COLOR="black">$RD 12,200</FONT></h4>
                    <div style="text-align: center;">
                      <br>
                       
                   {% if not authenticated %}
                   <span>Para adquirir uno de nuestros planes tiene que entrar o registrarse en don carros</span>
                  {% endif %}
                  
                     	{% if authenticated %}
								<a href="/dashboard/pago" style="
                                                 padding:4px 25px; 
                                                 text-align:center;
 border:none; 
 -webkit-border-radius:5px;
 -moz-border-radius:5px; 
 border-radius: 5px; 
 font:16px Times New Roman; 
 color:black; 
 background:#BEB7B0;"><strong>Comprar</strong></a>
								{% endif %}
			
                        
                    </div>
             
                      <h4 style="text-align: center;"><FONT COLOR="black">itbis incluidos</FONT></h4>
                 
                </div>
            </div>
           <div class="col-lg-2 col-sm-6 col precios zoom">

                <div class="precio advantage">
                    <img src="../static/images/diseño/oro.png" width="100%" height="200px" />
                </div>
               <div class="beneficios novato">
                 <h4 style="text-align: center;"><FONT COLOR="black">Cantidad de vehiculos a publicar</FONT></h4>
                 <h4 style="text-align: center; background-color: #B9823C;" ><FONT COLOR="black">70 vehiculos</FONT></h4>
                 <h4 style="text-align: center;"><FONT COLOR="black">Promocion super portada primer mes</FONT></h4>
                 <h4 style="text-align: center; background-color: #B9823C;"><FONT COLOR="black">GRATIS</FONT></h4>
                 <h4 style="text-align: center;"><FONT COLOR="black">precios mensuales</FONT></h4>
                 <h4 style="text-align: center; background-color: #B9823C;"><FONT COLOR="black">$RD 14,000</FONT></h4>
                    <div style="text-align: center;">
                      <br>
                     
                    {% if not authenticated %}
                   <span>Para adquirir uno de nuestros planes tiene que entrar o registrarse en don carros</span>
                  {% endif %}
                  
                     	{% if authenticated %}
								<a href="/dashboard/pago" style="
                                                 padding:4px 25px; 
                                                 text-align:center;
 border:none; 
 -webkit-border-radius:5px;
 -moz-border-radius:5px; 
 border-radius: 5px; 
 font:16px Times New Roman; 
 color:white; 
 background:#B9823C;"><strong>Comprar</strong></a>
								{% endif %}
			
                        
                    </div>
              
                      <h4 style="text-align: center;"><FONT COLOR="black">itbis incluidos</FONT></h4>
                  
                </div>
            </div>
          
       
                      
      
     
          
         

<div class="col-lg-2 col-sm-6 col  precios zoom">
              
                <div class="precio advantage">
                    <img src="../static/images/diseño/platinum.png" width="100%" height="200px" />
                </div>
                 <div class="beneficios novato">
                   <h4 style="text-align: center;"><FONT COLOR="black">Cantidad de vehiculos a publicar</FONT></h4>
                   <h4 style="text-align: center; background-color: #6DA2F0;" ><FONT COLOR="black">100 vehiculos</FONT></h4>
                   <h4 style="text-align: center;"><FONT COLOR="black">Promocion super portada primer mes</FONT></h4>
                   <h4 style="text-align: center; background-color: #6DA2F0;"><FONT COLOR="black">GRATIS</FONT></h4>
                    <h4 style="text-align: center;"><FONT COLOR="black">precios mensuales</h4>
                      <h4 style="text-align: center; background-color: #6DA2F0;"><FONT COLOR="black">$RD 17,000</FONT></h4>
                    <div style="text-align: center;">
                      <br>
                       
                    {% if not authenticated %}
                   <span>Para adquirir uno de nuestros planes tiene que entrar o registrarse en don carros</span>
                  {% endif %}
                  
                     	{% if authenticated %}
								<a href="/dashboard/pago" style="
                                                 padding:4px 25px; 
                                                 text-align:center;
 border:none; 
 -webkit-border-radius:5px;
 -moz-border-radius:5px; 
 border-radius: 5px; 
 font:16px Times New Roman; 
 color:white; 
 background:#6DA2F0;"><strong>Comprar</strong></a>
								{% endif %}
			
     
                        
                    </div>
              
                     <h4 style="text-align: center;"><FONT COLOR="black">itbis incluidos</FONT></h4>
                  
                </div>
            </div>
          
       
                       
                       
                       
                        
                     </div>
                  </div>
               </div>
               <!-- Row End -->
            </div>
            <!-- Main Container End -->
         </section>
           
         
<script  type="text/javascript">
function Demo(url) {
  var win = window.open('/dealer/' + url, '_blank');
  win.focus();
}
</script>
{% endblock %}
