{% extends 'base/base.html' %}
{% block content %}
{% load static %}
        <div class="pages">
    <!--Script menu -->

    <script>
      setTimeout(function(){menu("#sell_my_car")},500);
    </script>

    <!-- content of the page-->
    <section class="sell">
        <div class="head">
            
            <div class="text row">
                <div class="col col-md-6">
                  <br>
                  <br>
                    <h2 class="tituloconta"><FONT COLOR="#fa3737">Guia</FONT></h2>
                    <h1 class="tituloconta"><FONT COLOR="#fa3737">de registro de don carros</FONT></h1> 
                </div>
                <div class="col col-sm-6 visible-lg visible-mg">
                  <p><FONT COLOR="#1f1d1d">COMUNICARSE</FONT></p>
                  <p><FONT COLOR="#1f1d1d">(809)-772-1175</FONT></p>
                   <div class="contact_us">

    <div class="dos">
        <div class="caja">

        	<div class="redes tam">
        		<div class="dobles">
        			<a href="https://www.facebook.com/Don-Carros-101772711971452/"><img src="/static/icon/facebook.png" alt="Facebook" width="50" height="50" /></a>
        			<a href="https://tiktok.com/@doncarrosrd"><img src="/static/icon/tik-tok.png" alt="Twitter"></a>
              <a href="http://instagram.com/doncarrosrd"><img src="/static/icon/instagram.png" alt="Instagram"></a>
        			<a href="https://youtube.com/channel/UCLfdeSUz6wv4B2Pcmnp4dXQ"><img src="/static/icon/youtube.png" alt="Google Plus"></a>
        		</div>
        	</div>
        </div>
    </div>
</div>
                  
                </div>
            </div>
        </div>
        <div class="body row">
            <p>&nbsp;</p>
<h1 style="text-align: center; color: black;">Guia de registro para publicar en don carros</h1>
<p><a href="../static/images/infor/logo3.png"><img class="imageLeft" src="../static/images/infor/logo3.png" alt="Ed" width="90%" height="300px" style="margin-left: 2%;" /></a></p>
<p></p>
<p><strong></strong></p>
<p><strong></strong></p>
<p></p>
          <p><h3><strong><center>Introduccion</center></strong></h3></p>
          <p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Doncarros.com es una página automotriz que ofrecer un servicio de ventas de vehículos para todos los clientes con una gama de confiabilidad y seguridad a momento de hacer la transacción también le ofrecer a los vendedores o empresa distribuidora que quiera publicar sus autos una variedad de planes y un sitio web personalizado para su venta de autos..</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">En cual al momento de hacer su publicación es de manera sencilla y gratis para publicar sus primeros autos y ofrecer una disponibilidad de ser un distribuidor o simplemente un vendedor con planes de acuerdo a su necesidad</p>
 <p><h4 style="text-align: justify; color: black; margin-left: 2%;  margin-right: 2%; ">Pasos a seguir para publicar su automóvil.</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">A ingresar a la página principal de don carros en el menú seleccionara el botón de vender</h4></p>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/home1.png" alt="Ed" width="100%" height="300px" /></div>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/homete.png" alt="Ed" width="100%" height="300px" /></div>
<br>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">ya en la página de vender se van la opción publicar</h4></p>
<br>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/ven1.png" alt="Ed" width="100%" height="300px" /></div>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/ven2.png" alt="Ed" width="100%" height="300px" /></div>
<br>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">dentro de la opción publicar le mostrara una lista de qué tipo de automóvil esta vendiendo</h4></p>
<br>
<p><img class="imageLeft" src="../static/images/infor/for1.png" alt="Ed" width="90%" height="300px" /></p>
<p></p>
<p>&nbsp;</p>
<p></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">a seleccionar el tipo de carro que está publicando le mostrará un formulario en donde le pedirá todas las especificaciones de carros como así su ubicación &nbsp;</h4></p>
<br>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/for2.png" alt="Ed" width="100%" height="300px" /></div>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/for3.png" alt="Ed" width="100%" height="300px" /></div>

  <p><img class="imageLeft" src="../static/images/infor/nota.png" alt="Ed" width="90%" height="300px" style="margin-left: 2%;" /></p>

<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; "><strong><h3>Nota </h3> </strong>"en la opción latitud y longitud" para tener esto número se van a navegador de un pc o teléfono y se ubica en google map colocar el sitio donde se encuentra su automóvil y con el curso se posicionar sobre le dar clip derecho o si está en un  móvil deja presionada el dedo le mostrara una lista en la primera opción son la latitud y longitud de ese sitio lo ejemplo 18.66231, -68.39519 donde el primero es la latitud y después de la coma es longitud lo copia y se van para el campo correspondiente Ejemplo</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">latitud: &nbsp;18.66231</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Longitud: &nbsp;-68.39519</h4></p>
<p></p>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/map1.png" alt="Ed" width="100%" height="300px" /></div>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/map1.png" alt="Ed" width="100%" height="300px" /></div>
<br>
<br>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">&nbsp; después de llenar el formulario completo con toda su especificación otra <strong>nota</strong> “la imagen que valla a colocar de su vehículo tiene que tener una calidad óptima para que así tenga mayor visualidad 1200*800" le dan guardar</h4></p>

<p> <h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">le mandara a otro formulario en donde se van a registrar donde colocaran sus datos de usuario contraseña correo y teléfono nota en teléfono tiene que colocar el código de su país sin el + ejemplo 1 809 456 626 o 1809456626 una vez realizado su registro &nbsp; le a registrar o inscribirme y lo volverá a manda a inicio &nbsp;</h4</p>
<p><img class="imageLeft" src="../static/images/infor/registro.png" alt="Ed" width="90%" height="300px" style="margin-left: 2%;" /></p>
  <p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">ejemplo</h4></p>
  <p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Nombre:user0102</h4></p>
  <p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Correo:pruebaruser@gmail.com</h4></p>
  <p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Contraseña: **********</h4></p>
   <p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Telefono: 1809456626</h4></p>
<br>
<br>
<p><img class="imageLeft" src="../static/images/infor/homere.png" alt="Ed" width="90%" height="300px" style="margin-left: 2%;" /></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">En la cual es la parte superior le aparecerá su usuario ya accedió ahora termina de finalizar su registro se dar donde le aparece a usuario y lo mandara a una interfaz administrativa donde podrá hacer su modificación a todo lo que publique como también a su usuario</h4></p>
<br>
<p></p>
<p></p>
<p></p>
<p><img class="imageLeft" src="../static/images/infor/admi1.png" alt="Ed" width="90%" height="300px" style="margin-left: 2%;" /></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Una vez ahí le mostrara la opciones disponible dependiendo si sea un vendedor o sea un distribuidor y contara un plan de 1 carros si desea vender más de un auto o quiere ser un distribuidor se va a la opción actualizar plan y se contactará con cono de los administradores o si quiere saber cuáles planes hay se va para la página de inicio que le mostrara los planes disponible que ofrecer don carros y como también en donde está la opción de planes una gran variedad de plantilla para los distribuidores que desea tener su página personalizada donde va tener la opción de pagar directamente con los pago disponible en ese momento. &nbsp;</h4></p>
<br>
<p><img class="imageLeft" src="../static/images/infor/venta.png" alt="Ed" width="90%" height="500px" style="margin-left: 2%;" /></p>
<br><br>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/palnes.png" alt="Ed" width="100%" height="300px" /></div>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/planes.png" alt="Ed" width="100%" height="300px" /></div>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/planem.png" alt="Ed" width="100%" height="300px" /></div>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/planes2.png" alt="Ed" width="100%" height="300px" /></div>
<br><br>

<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">ya realizado eso o si quiere probar se le da un periodo de prueba para ver su vehículo se va a la opción&nbsp;</h4></p>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/inventa.png" alt="Ed" width="100%" height="300px" /></div>
<div class="col-sm-6 col"><img class="imageLeft" src="../static/images/infor/intentario.png" alt="Ed" width="100%" height="300px" /></div>

<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">nota si no le aparece la imagen de vehículo darle editar y vuelve a colocar las imágenes de su auto</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">aquí puede ver su estado actual de su inventario don podrá modificar borrar o marca vendido</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">ya cuando tenga todo eso echo no vamos a finalizar nuestro registro</h4></p>
<p><img class="imageLeft" src="../static/images/infor/perfil2.png" alt="Ed" width="90%" height="500px" style="margin-left: 2%;" /></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">en cual no vamos editar perfil en el panel administrativo &nbsp;</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">y terminamos de completar nuestro perfil a colocar todo el dato correspondiente de foto de perfil entre otro detalle ya realizado eso colocan su contraseña de nuevo y abajo de eso puede colocar una nueva o si no la misma y listo ya con eso finalizo el registro de su automóvil </h4></p>
<p><img class="imageLeft" src="../static/images/infor/perfilfinalll.png" alt="Ed" width="90%" height="500px" style="margin-left: 2%;" /></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Ejemplo</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Contraseña actual: **********</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">nueva contraseña: puede poner la misma</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Nombre:user0102</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">apellido:user0102</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">correo electronico:user0102@gmail.com</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">telefono: colocar el que pusite sin el + solo codigo de pais mas numero 1807568</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">telefono celular: puede poner el mismo o otro</h4> </p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">direccion: punta cana en republica dominicana</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">detalle: breve detalle de ti o una informacion extra</h4></p><br><br>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">para ver si su vehículo se publicó se van a inicio y en la última sesión de la página donde aparece los vehículo aparecerá su automóvil</h4></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">le da a detalle y le mandara a la página donde está alojado su carro mostrando todo el detalle de su vehículo</h4></p>
<p><img class="imageLeft" src="../static/images/infor/finalll.png" alt="Ed" width="90%" height="500px" style="margin-left: 2%;" /></p>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Nota: si cualquier cliente o usuario que desea compra le dan a botón de whatsApp y lo mandara a su número que registro para hacer su negocio</h4></p>
<br><br><br>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">con eso finaliza el registro ahora si quiere ser un distribuidor hablar con el administrador y de acuerdo a plan que elija se le dará más acceso a panel como también un sitio de web de nuestro catálogo de plantilla para su inventario como también se le colocara el logo de su empresa o personal</h4></p>
<div class="col-lg-2 col-sm-6 col"><img class="imageLeft" src="../static/images/infor/dis.png" alt="Ed" width="100%" height="300px" /></div>
<div class="col-lg-2 col-sm-6 col"><img class="imageLeft" src="../static/images/infor/dis2.png" alt="Ed" width="100%" height="300px" /></div>
<div class="col-lg-2 col-sm-6 col"><img class="imageLeft" src="../static/images/infor/dis3.png" alt="Ed" width="100%" height="300px" /></div>
<div class="col-lg-2 col-sm-6 col"><img class="imageLeft" src="../static/images/infor/dis4.png" alt="Ed" width="100%" height="300px" /></div>
<p><h4 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">Como podrá visualizar a ser distribuidor tiene la opción de administrar tu propia plantilla de cómo se verá como también en toda tu publicación aparecerá su logo principal y como también podrá colocar su red social de Instagram Facebook y YouTube</h4></p>
<br><br><br>

<p><h2 style="text-align: justify; color: black; margin-left: 2%; margin-right: 2%; ">cualquier duda se puede comunicar por el whatsApp de administrador que con gusto antendera toda dudas</h2></p>
        </div>

 <a href="https://wa.me/18099144873?text=Me%20gustaría%20saber%20de%20Registro%20de%20Doncarros%20" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>

    </section>

  </div>
{% endblock %}
