{% extends 'base/base34.html' %}
{% block content %}
{% load static %}
        <div class="pages">
    <!--Script menu -->

    <script>
      setTimeout(function(){menu("#sell_my_car")},500);
    </script>

          <div class="page-header-area-2 gray">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="small-breadcrumb">
                     <div class="breadcrumb-link">
                        <ul>
                           <li><a href="/">Inicio</a></li>
                           <li><a class="active" href="#">Vender</a></li>
                        </ul>
                     </div>
                     <div class="header-page">
                        <h1>Vender</h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- =-=-=-=-=-=-= Breadcrumb End =-=-=-=-=-=-= --> 
      <!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
      <div class="main-content-area clearfix">
      
      
       <!-- =-=-=-=-=-=-= Services Section  =-=-=-=-=-=-= -->
         <section class="section-padding no-top gray services-center">
            <div class="container">
               <!-- Heading Area -->
               <div class="heading-panel">
                  <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                     <!-- Main Title -->
                     <h1>Vende tu carro<span class="heading-color"> Gratis !!! </span></h1>
                     <!-- Short Description -->
                     <p class="heading-text">Coloque su vehículo en Doncarros.com

Alcance miles de clientes en todo el mundo!!!</p>
                  </div>
               </div>
               <div class="row clearfix">
                  <!--Left Column-->
                  <div class="col-md-4 col-sm-6 col-xs-12 pull-left">
                  <!--Service Block -->
                  <div class="services-grid">
                        <div class="icons icon-right"><i class="flaticon-engine-4"></i></div>
                       <a href="/create_listing"> <h4>Publicar</h4>
                        <p>¿Por qué vender su vehículo con nosotros?

Es rápido, fácil y gratis</p>
                     </div>
                    </a>
                  
                  

                  </div>
                  
                  <!--Right Column-->
                  <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                     <!--Service Block-->
                     
                       
                     <div class="services-grid">
                        <div class="icons icon-left"><i class="flaticon-vehicle-3"></i></div>
                       <a href="/become" >
                        <h4>Planes a Ofrecer</h4>
                        <p>Quiere Publicar mas de un carro y ser un Distribuidor?</p>
                     </div>
                       </a>
                     <!--Service Block-->
                     
                      
                  </div>
                  <!--Image Column-->
                  <div class="col-md-4 col-sm-12 col-xs-12">
                     <figure class="wow zoomIn  animated" data-wow-delay="0ms" data-wow-duration="3500ms" >
                        <img class="center-block" src="../static/pru/images/service-car.png" alt="">
                     </figure>
                  </div>
               </div>

            </div>

         </section>
          
          
          
          
          
          
          
          
          
          
          
          
          
      
{% endblock %}
