/*Portada*/


.blog-container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(25, 81, 235, 0.76);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

/*Contenedor de categorias*/

input[type="radio"]{
    display: none;
}

.container-category{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container-category label{
    padding: 2px 10px;
    margin: 3px;
    font-size: 20px;
    background: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
}

.container-category label:hover{
    opacity: 0.8;
}



/*Post - Publicaciones*/

.container-post{
  padding-top: 80px;
    max-width: 1200px;
    margin: auto;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    margin-top: 20px;
    padding: 20px;
}

.posts .post{
    
    background-color: rgba(0, 0, 29, 0.1);
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
}

.post .ctn-img{
    width: 100%;
}

.post .ctn-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post h2{
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 20px;
}

.post span{
    display: block;
    margin-top: 10px;
    padding: 0px 20px;
}

.ctn-tag{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
}

.ctn-tag li{
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
}


.post button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #46a2fd;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.post button:hover{
    opacity: 0.9;
}


/*sistema de filtrado*/

[value="TODOS"]:checked ~ .posts .post[data-category]{
    display: block;
}

[value="A"]:checked ~ .posts .post:not([data-category~="A"]),
[value="B"]:checked ~ .posts .post:not([data-category~="B"]),
[value="C"]:checked ~ .posts .post:not([data-category~="C"]),
[value="D"]:checked ~ .posts .post:not([data-category~="D"]),
[value="E"]:checked ~ .posts .post:not([data-category~="E"]),
[value="F"]:checked ~ .posts .post:not([data-category~="F"]),
[value="G"]:checked ~ .posts .post:not([data-category~="G"]),
[value="H"]:checked ~ .posts .post:not([data-category~="H"]),
[value="I"]:checked ~ .posts .post:not([data-category~="I"]),
[value="J"]:checked ~ .posts .post:not([data-category~="J"]),
[value="K"]:checked ~ .posts .post:not([data-category~="K"]),
[value="L"]:checked ~ .posts .post:not([data-category~="L"]),
[value="M"]:checked ~ .posts .post:not([data-category~="M"]),
[value="N"]:checked ~ .posts .post:not([data-category~="N"]),
[value="Ñ"]:checked ~ .posts .post:not([data-category~="Ñ"]),
[value="O"]:checked ~ .posts .post:not([data-category~="O"]),
[value="P"]:checked ~ .posts .post:not([data-category~="P"]),
[value="Q"]:checked ~ .posts .post:not([data-category~="Q"]),
[value="R"]:checked ~ .posts .post:not([data-category~="R"]),
[value="S"]:checked ~ .posts .post:not([data-category~="S"]),
[value="T"]:checked ~ .posts .post:not([data-category~="T"]),
[value="U"]:checked ~ .posts .post:not([data-category~="U"]),
[value="V"]:checked ~ .posts .post:not([data-category~="V"]),
[value="W"]:checked ~ .posts .post:not([data-category~="W"]),
[value="X"]:checked ~ .posts .post:not([data-category~="X"]),
[value="Y"]:checked ~ .posts .post:not([data-category~="Y"]),
[value="Z"]:checked ~ .posts .post:not([data-category~="Z"]){
    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="A"]:checked ~ .container-category [for="A"],
[value="B"]:checked ~ .container-category [for="B"],
[value="C"]:checked ~ .container-category [for="C"],
[value="D"]:checked ~ .container-category [for="D"],
[value="E"]:checked ~ .container-category [for="E"],
[value="F"]:checked ~ .container-category [for="F"],
[value="G"]:checked ~ .container-category [for="G"],
[value="H"]:checked ~ .container-category [for="H"],
[value="I"]:checked ~ .container-category [for="I"],
[value="J"]:checked ~ .container-category [for="J"],
[value="K"]:checked ~ .container-category [for="K"],
[value="L"]:checked ~ .container-category [for="L"],
[value="M"]:checked ~ .container-category [for="M"],
[value="N"]:checked ~ .container-category [for="N"],
[value="Ñ"]:checked ~ .container-category [for="Ñ"],
[value="O"]:checked ~ .container-category [for="O"],
[value="P"]:checked ~ .container-category [for="P"],
[value="Q"]:checked ~ .container-category [for="Q"],
[value="R"]:checked ~ .container-category [for="R"],
[value="S"]:checked ~ .container-category [for="S"],
[value="T"]:checked ~ .container-category [for="T"],
[value="U"]:checked ~ .container-category [for="U"],
[value="V"]:checked ~ .container-category [for="V"],
[value="W"]:checked ~ .container-category [for="W"],
[value="X"]:checked ~ .container-category [for="X"],
[value="Y"]:checked ~ .container-category [for="Y"],
[value="Z"]:checked ~ .container-category [for="Z"]{
    background: #46a2fd;
    color: #fff;
}

@media screen and (max-width: 1200px){
    .posts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px){
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
}